**/obj/**
**/bin/**
**/.vs/**
**/v16/**

**/~$*.*

*.suo
*.Cache
*.ide
*.user
*.ide-wal
*.ide-shm

/Doc/_site
/Doc/api

/nuget/*.nupkg
/Build/*.nupkg

launchSettings.json

/Tools/bbobbenchmarks.py
/Tools/glass4.mps
/Tools/lingeling
/Tools/ubcsat.exe

**/Optano.Algorithm.Tuner.0.0.0.1/
Source/.idea
Source/Optano.Algorithm.Tuner/.idea
