akka
{
	stdout-loglevel = DEBUG
	loglevel = DEBUG
	actor
	{
		# Imitate real distributed situation by serializing messages.
		serialize-messages = on
		serializers.hyperion = "Akka.Serialization.HyperionSerializer, Akka.Serialization.Hyperion"				
		serialization-bindings
		{
			"System.Object" = hyperion
		}

	debug {
		receive = on 
		autoreceive = on
		lifecycle = on
		event-stream = on
		unhandled = on
		router-misconfiguration = on
	}
					
		provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"			
		deployment
		{
			/GenerationEvaluationActor/EvaluationActorRouter
			{
				router = broadcast-pool # routing strategy
                cluster
				{
					max-nr-of-instances-per-node = 2 # Set to 2 here, but to maximumNumberParallelEvaluations outside the test project.
					enabled = on
					allow-local-routees = on
                }
			}
		}
	}
	remote.dot-netty.tcp {
		hostname = 0.0.0.0
		port = 8081
	}
remote {
log-sent-messages = on
log-received-messages = on
	}
}